table{
    background-color: black;
    width: 60%;
    margin: auto;
}

thead{
    background-color: #ff7518;
}

tbody{
    background-color: #BBBBBB;
}

h1{
    background-color: green;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
}

h4{
    background-color: peru;
    width: 10%;
    margin: auto;
    margin-bottom: 2%;
    text-align: center;
}