<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina di Login</title>
</head>
<body>
  <form method="post">
    <label for="username">Inserire l'username:</label>
    <input type="text" name="username" id="username">

    <label for="codice">Inserire il codice di accesso:</label>
    <input type="password" name="codice" id="codice">

    <button type="submit">Invia il login</button>
  </form>
</body>
</html>