<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina di Login</title>

  <link rel="stylesheet" href="static/login.css">
</head>
<body>
  <div class="login">
    <h1 style="background-color: #ff7518;">Login</h1>
    <form method="post">
      <div class="campoUsername campoForm">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
      </div>
  
      <div class="campoPassword campoForm">
        <label for="codice">Password:</label>
        <input type="password" name="codice" id="codice">
      </div>

      <div class="loginSubmit">
        <button type="submit">Invia il login</button>
      </div>
    </form>

    <div class="altriLink">
      <button type="button"><a href="{{url_for('index')}}">Home Page</a></button>
      <button type="button"><a href="{{url_for('register')}}">Registrati</a></button>
    </div>
  </div>
</body>
</html>