<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrazione</title>
</head>
<body>
  <h1>Registrati</h1>
  <h2>Benvenuto!</h2>

  <form method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <label for="matricola">Matricola:</label>
    <input type="number" name="matricola" id="matricola">

    <button type="submit">Registrati</button>
  </form>
</body>
</html>